@{
    ViewData["Title"] = "Home Page";
}
<br/>
<div style="text-align: center;">
    <h3 class="display-5">Bem vindos</h3>
</div>
<div style="text-align: center;">
    <img src="~/images/logo_banco_krt.png" />
</div>


