@model BankLimitManagementApp.Mvc.InputModels.BankAccountInputModel

@{
    ViewData["Title"] = "Create";
}
<br/>
<h1>Adicionar nova conta</h1>

<h4> Registrar conta bancária</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientName" class="control-label">Nome do cliente</label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label">Documento</label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyNumber" class="control-label">Número da agência</label>
                <input asp-for="AgencyNumber" class="form-control" />
                <span asp-validation-for="AgencyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label">Número da conta</label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionLimit" class="control-label">Limite de transação</label>
                <input asp-for="TransactionLimit" class="form-control" />
                <span asp-validation-for="TransactionLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label">Saldo atual</label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-dark" />
               <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
